@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-controller="Vehicle" asp-action="Create">Create</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Id
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="id">↓</a> |
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="idDesc">↑</a>
            </th>
            <th scope="col">
                ModelName
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="modelName">↓</a> |
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="modelNameDesc">↑</a>
            </th>
            <th scope="col">VehicleType
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="vehicleType">↓</a> |
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="vehicleTypeDesc">↑</a>
            </th>
            <th scope="col">MileageKm
                <a asp-controller="Vehicle" asp-action="Index"  asp-route-order="mileageKm">↓</a> |
                <a asp-controller="Vehicle" asp-action="Index" asp-route-order="mileageKmDesc">↑</a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var velicle in Model)
        {
            <tr>
                <td>@velicle.Id</td>
                <td>@velicle.ModelName</td>
                <td>@velicle.VehicleType.TypeName</td>
                <td>@velicle.MileageKm</td>
                <td>
                    <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@velicle.Id">Delete</a> |
                    <a asp-controller="Vehicle" asp-action="Update" asp-route-id="@velicle.Id">Update</a> |
                    <a asp-controller="Vehicle" asp-action="GetById" asp-route-id="@velicle.Id">GetById</a>
                </td>
            </tr>
        }
    </tbody>
</table>