@{
    ViewData["Title"] = "Order Details";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-controller="Order" asp-action="Index">BackToIndex</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">OrderId</th>
            <th scope="col">ModelName</th>
            <th scope="col">RegNumber</th>
            <th scope="col">SparePart/Quantity</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Vehicle.ModelName</td>
            <td>@Model.Vehicle.RegistrationNumber</td>
            <td>
                <table class="table">

                    <tbody>
                        @if (Model.OrderElements != null)
                        {
                            @foreach (var orderElement in Model.OrderElements)
                            {
                                <tr>
                                    <td>@orderElement.SparePart.PartName</td>
                                    <td>@orderElement.SparePartQuantity</td>
                                </tr>
                            }
                        }
                        else
                        {
                                <tr>
                                    <td>Order is empty</td>
                                    <td><a asp-controller="Order" asp-action="Delete" asp-route-id="@Model.Id">DeleteOrder</a></td>
                                </tr>
                        }
                    </tbody>

                </table>
            </td>
        </tr>

    </tbody>
</table>
