@{
    ViewData["Title"] = "Add Order Element";
}

@using WebAutopark.DAL.Entities
@model WebAutopark.Models.OrderElementModel

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-controller="Order" asp-action="Index">BackToIndex</a>
    </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ModelName</th>
            <th scope="col">VehicleRegNumber</th>
            <th scope="col">Elements</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Order.Vehicle.ModelName</td>
            <td>@Model.Order.Vehicle.RegistrationNumber</td>
            <td>
                <table class="table">

                    <tbody>
                        @if (Model.Order.OrderElements != null)
                        {
                            @foreach (var orderElement in Model.Order.OrderElements)
                            {
                                <tr>
                                    <td>@orderElement.SparePart.PartName</td>
                                    <td>@orderElement.SparePartQuantity</td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </td>
        </tr>
    </tbody>
</table>


@using (Html.BeginForm("Create", "OrderElement", FormMethod.Post))
{
    <label>OrderId:</label>
    <br />
    @Html.TextBoxFor(e => e.OrderElement.OrderId, new {placeholder = Model.Order.Id, @readonly = "readonly" })
    <br />
    <label>SparePart:</label>
    <br />
    @Html.DropDownListFor(e => e.OrderElement.SparePartId, (SelectList)ViewBag.SpareParts)
    <br />
    <label>SparePartQuantity:</label>
    <br />
    @Html.TextBoxFor(e => e.OrderElement.SparePartQuantity)
    <br />
    <input name="action" value="CreateAndExit" type="submit" asp-controller="OrderElement" asp-action="Create" asp-route-orderId="@Model.Order.Id"/>
    <input name="action" value="CreateAndProceed" type="submit" asp-controller="OrderElement" asp-action="Create" asp-route-orderId="@Model.Order.Id"/>
}